body {
  background-color: #BBBBBB;
  background-image: linear-gradient(45deg, #CCCCCC 25%, transparent 25%, transparent 75%, #CCCCCC 75%, #CCCCCC), linear-gradient(45deg, #CCCCCC 25%, transparent 25%, transparent 75%, #CCCCCC 75%, #CCCCCC);
  background-position: 0 0, 25px 25px;
  background-size: 50px 50px;


}
.main-contents {
	margin:0 auto;
	margin-top: 10%;

	background-color: white;
	height: 50%;
	width: 40%;
	text-align: center;
}

.header {
	text-align: left;
}


.form-area {
	margin-top: 00px;
	margin-right: 00px;
	margin-bottom: 00px;
	margin-left: 00px;
	background-color: #ECECFF;
}



label {
	display: block;
}

.errorMessages{
	color:red;
}

.copyright{
	 text-align: center;
}